body {
  font-family: "Comfortaa", cursive, sans-serif;
  animation: sky-animation 15s linear forwards;      
  height: 100vh;
}



.sun{
  position: absolute;
  background: yellow;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 5px;
  animation: shine 18s linear forwards;  
}

/*sun shows*/
@keyframes shine {
  0% {
    background: yellow;
    box-shadow: 0 0 10px 10px yellow;
    width: 5px;
    height: 5px;
  }
  25% {
    background: yellow;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 20px 20px yellow;
  }

  50% {
    background: yellow;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px 10px yellow;
  }
  75% {
    width: 15px;
    height: 15px;
    background: #f7b42c;
    box-shadow: 0 0 10px 10px yellow;
  }

  100% {
    width: 15px;
    height: 15px;
    background: white;
    box-shadow: 0 0 15px 15px white;

  }

}

.bird {
    position: absolute;
    opacity: 1;
    top: 100px;
    left: 00px;
    width: 15px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(-75deg);
    animation: fly 25s linear infinite, wings .5s linear alternate infinite;
    z-index: 70;
}

.bird2 {
    position: absolute;
    opacity: 1;
    top: 110px;
    left: 00px;
    width: 15px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotateZ(-75deg);
    animation: fly 20s linear infinite, wings .5s linear alternate infinite;
    z-index: 70;
}

@keyframes fly {
  0% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

@keyframes wings {
  0% {
    border-radius: 90%;
  }
  100% {
    border-radius: 10%;
  }
}


@keyframes sky-animation {
  0% {
    background: #d2c13a;
  }
  70% {
    background: #48bcff;
  }
  100% {
    background: #040427;
  }
}



.weather-app {
  z-index: 200;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);;
  border: 3px solid white;
  max-width: 630px;
  margin: 2% auto;
  padding: 5px 30px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.3) 10px 8px 8px 0px;
  
}

.background-container {
  width: 100%;
}



