

form {
  width: 100%;
}

.search-button {
  border: none;
  background: linear-gradient(to top, #201d27 0%, #2f3e6a 50%, #5480a9 100%);
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.search-button:hover {
  cursor: pointer;
  background: white;
  color: #4f333c;
  border: 1px solid #4f333c;
}

.search-button i {
  font-size: 18px;
}

.location-button {
  border: none;
  background: linear-gradient(to bottom, #201d27 0%, #2f3e6a 50%, #5480a9 100%);
  color: white;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

.location-button:hover {
  cursor: pointer;
  background: white;
  color: #2f3e6a;
  border: 1px solid #2f3e6a;
}


.main-details {
  width: 100%;
}

hr {
  margin-top: 20px;
  padding-top: 1px;
  background: white;
  background-image: linear-gradient(to right, #ccc, white, #ccc);
}